.add-todo-form__control {
  margin: 0 auto 1.25rem auto;
}

.add-todo-form__input_fullwidth {
  width: 100%;
}

.add-todo-form__input {
  display: block;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: var(--color-gray);
  background-color: white;
  background-clip: padding-box;
  border: 1px solid var(--color-lightgray);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.add-todo-form__input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.add-todo-form__button_fullwidth {
  width: 100%;
}

.add-todo-form__button {
  border-radius: 4px;
  display: block;
  background: var(--color-green);
  color: #fff;
  padding: 0.75rem;
}
