.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.todo-text {
  margin: 0;
  padding-right: 10px;
  word-break: break-all;
}

.delete-button {
  padding: 0.375rem 0.75rem;
  color: var(--color-red);
  background-color: #fff;
}

@media (max-width: 576px) {
  .delete-button {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
  }
}
